#gra {
    background-image: url(../images/tlo.jpg);
    max-width: 560px;
    box-shadow: 0px 10px 10px 5px #242426;
}
.tcenter {
    text-align: center;
}
.img {
    width:70px;
}
html, body {
    min-height: 100vh;
    background-color: red; 
    background-image: linear-gradient(black, #511515); 
}
.pt-5 {
    padding-top: 7rem!important;
}
@keyframes fade {
    0% {opacity: 100%;}
    25% {opacity :50%;}
    50% {opacity :0%;}
    75% {opacity :50%;}
    100% {opacity: 100%;}
}
@keyframes fade2 {
    0% {opacity: 100%;}
    25% {opacity :50%;}
    50% {opacity :0%;}
    75% {opacity :50%;}
    100% {opacity: 100%;}
}

.fade {
    animation: fade 0.250s;
    opacity:100%;

}

.fade2 {
    animation: fade2 0.250s;
    opacity:100%;

}